<%- include ('template/cabecera', {tituloweb: `Player || ${roomy}`}); %>
<link rel="stylesheet" href="/css/player.css" />
<div class="container my-2">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="card align-items-center">
        <form class="form-inline mb-2" id="buscarVideo">
          <input
            placeholder="URL de YT o busca un video"
            class="form-control"
            id="searchInput"
            type="text"
            autocomplete="off"
          /><button type="submit" class="btn controls m-0 rounded-0" disabled>
            Buscar
          </button>
        </form>
        <div id="player"></div>
        <div class="row mt-2">
          <button
            class="btn controls"
            type="button"
            id="30segatras"
            value="atras"
            disabled
          >
            ←
          </button>
          <button class="btn controls" id="pause-vid" disabled>Pausa</button>
          <button class="btn controls" id="play-vid" disabled>Play</button>
          <button
            class="btn controls"
            id="30segadelante"
            value="adelante"
            disabled
          >
            →
          </button>
        </div>
        <div class="row">
          <button class="btn controls" type="button" id="reiniciar" disabled>
            Inicio</button
          ><button class="btn controls" type="button" id="syncnow" disabled>
            Sincro</button
          ><button class="btn controls" type="button" id="final" disabled>
            Final
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-4">
      <div class="mt-3">
        <div class="card chating">
          <h3 class="card-title text-white">CHAT (<%= roomy %>)</h3>
          <ul id="messages" class="list-group overflow-auto">
            <li class="list-group-item-secondary">¡Bienvenid@!</li>
          </ul>
          <div class="card-body text-center">
            <form id="chat" class="mt-3">
              <input
                class="form-control"
                type="text"
                autocomplete="off"
                id="mensajeChat"
                required
              /><br /><button
                class="btn controls mb-1 w-100 mx-0"
                type="submit"
                id="send"
                disabled
              >
                Enviar
              </button>
            </form>
            <button
              class="btn btn-danger my-1 w-100 border-none shadow-none"
              id="reconnect"
              disabled
            >
              Reconectar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('modals/modalWelcome', {sala: roomy}); %> <%- include
('modals/modalSearches'); %>
<script>
  const salita = "<%= roomy %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/player-API/YT-Api.js"></script>
<script src="/player-API/Player.js"></script>
<%- include ('template/footer') %>
